<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525507314106-mm7bbvq7piu5s6vamc7195vkomn5hc43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525507314106-mm7bbvq7piu5s6vamc7195vkomn5hc43</string>
	<key>API_KEY</key>
	<string>AIzaSyAMRF2tLZm2AvOiWot4oIZyzbOG5fiQOvM</string>
	<key>GCM_SENDER_ID</key>
	<string>525507314106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harrychuang.TimeShare</string>
	<key>PROJECT_ID</key>
	<string>timeshare-b5865</string>
	<key>STORAGE_BUCKET</key>
	<string>timeshare-b5865.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525507314106:ios:47e7499916b0debd219d83</string>
</dict>
</plist>